.ug-layout__root,
.ug-layout__stack,
.ug-layout__layout {
  height: 100%;
  width: 100%;
}

.ug-layout__root {
  background-color: #000000;
}

.ug-layout__row {
  display: flex;
  flex-direction: row;
}

.ug-layout__column {
  display: flex;
  flex-direction: column;
}

.ug-layout__splitter {
  background-color: black;
  position: relative;
}

.ug-layout__xy-item-container {
  width: 100%;
  height: 100%;
  background-color: rgb(25, 25, 25);
}

.ug-layout__drag-handle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.ug-layout__splitter-x {
  width: 5px;
}

.ug-layout__splitter-x:not(.ug-layout__splitter-disabled) .ug-layout__drag-handle {
  cursor: col-resize;
}

.ug-layout__splitter-y:not(.ug-layout__splitter-disabled) .ug-layout__drag-handle {
  cursor: row-resize;
}

.ug-layout__splitter-y {
  height: 5px;
}

.ug-layout__splitter-x .ug-layout__drag-handle {
  width: 25px;
  left: -12px;
}

.ug-layout__splitter-y .ug-layout__drag-handle {
  height: 25px;
  top: -12px;
}

.ug-layout__stack {
  display: flex;
  flex-direction: column;  
}

.ug-layout__stack.ug-layout__stack-y {
  flex-direction: row;
}

.ug-layout__stack.ug-layout__stack-reverse {
  flex-flow: column-reverse;
}

.ug-layout__stack.ug-layout__stack-reverse.ug-layout__stack-y {
  flex-flow: row-reverse;
}

.ug-layout__stack-header {
  display: flex;
  flex-direction: row;
  background-color: rgb(37, 37, 38)
}

.ug-layout__stack-y .ug-layout__stack-header {
  flex-direction: column;  
}

.ug-layout__stack-tab.ug-layout__tab-dragging {
  z-index: 1050;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  cursor: move;
}

.ug-layout__stack-tab {
  font-family: sans-serif;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  cursor: pointer;
  background-color: rgb(45, 45, 45);
  color: rgb(142, 142, 142);
  border-right: 1px solid rgb(37, 37, 38);
  z-index: 150;
} 

.ug-layout__stack-tab.ug-layout__tab-drag-enabled:not(.ug-layout__tab-dragging) {
  transition: transform 0.25s ease-in;
}

.ug-layout__stack-tab-x {
  padding: 0 5px;
}

.ug-layout__stack-tab-x.ug-layout__stack-tab-distributed {
  width: 100%;
}

.ug-layout__stack-tab-y {
  padding: 5px 0;
}

.ug-layout__stack-tab-y.ug-layout__stack-tab-distributed {
  height: 100%;
}

.ug-layout__stack-tab-close {
  flex-grow: 0;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}

.ug-layout__stack-tab-controls {
  padding-left: 5px;
}

.ug-layout__stack-tab-close:hover {
  opacity: 1;
}

.ug-layout__stack-tab-active {
  background-color: rgb(27, 43, 52);
  color: white;
}

.ug-layout__stack-controls {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ug-layout__stack-controls > * {
  padding: 0 5px;
}

.ug-layout__align-center {
  display: flex;
  align-items: center;
}

.ug-layout__tab-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.ug-layout__view-container {
  overflow: auto;
}

.ug-layout__drop-indicator {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: inset 0 0 30px #000000;
  background-color: rgba(0, 0, 0, 0.75);
  transform-origin: top left;
  transform: translate(0, 0);
  transition: all 0.15s ease-in;
}

.ug-layout__view-container-mount {
  width: 100%;
  height: 100%;
}

.ug-layout__close-stack-control {
  cursor: pointer;
  color: #FFFFFF;
  display: flex;
  font-size: 14px;
  align-items: center;
}

[class^="ug-icon-"], [class*=" ug-icon-"] {
  cursor: pointer;
  color: #FFFFFF;
  opacity: 0.5;  
  transition: opacity 0.15s ease-in;
}

[class^="ug-icon-"]:hover, [class*=" ug-icon-"]:hover {
  opacity: 1;  
}

.ug-layout__close-stack-control:hover {
  opacity: 1;
}