.ug-layout__root,
.ug-layout__layout {
  height: 100%;
  width: 100%;
}

.ug-layout__row {
  display: flex;
  flex-direction: row;
}

.ug-layout__column {
  display: flex;
  flex-direction: column;
}

.ug-layout__splitter {
  background-color: black;
  position: relative;
}

.ug-layout__drag-handle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
}

.ug-layout__splitter-x {
  width: 5px;
}

.ug-layout__splitter-y {
  height: 5px;
}

.ug-layout__splitter-x .ug-layout__drag-handle {
  width: 25px;
  left: -12px;
}

.ug-layout__splitter-y .ug-layout__drag-handle {
  height: 25px;
  top: -12px;
}